body {
  background-color: #282c34;
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 1; /* Ensure header stays above other content */
}

.App-logo {
  width: 300px; /* Adjust width as needed */
  height: auto; /* Ensure aspect ratio is maintained */
  margin-right: 100px;
  margin-left: 100px;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh; /* Offset for the fixed header */
  padding: 20px;
}

.message-container {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 80px; /* Ensure space for the form */
}

form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1e1e24;
  padding: 10px;
  display: flex;
  align-items: center;
}

input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: none;
  background-color: #282c34;
  color: white;
}

button {
  background-color: #6649b8;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4e3aa5;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sent {
  justify-content: flex-end;
}

.sent p {
  background-color: #0b93f6;
  color: white;
  border-radius: 10px;
  padding: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.received p {
  background-color: #e5e5ea;
  color: black;
  border-radius: 10px;
  padding: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
